Label{
  font-size: 20;
  color:black;
  horizontal-align: right;
  font-family: "Courier New", Courier, monospace;
}


StackLayout {
  margin-top: 35%;
  margin-left: 30;
  margin-right: 10;
  padding-bottom: 15;

}
