Label{
  font-size: 20;
  color:white;
  horizontal-align: right;
  font-family: "Courier New", Courier, monospace;
}

.parent{
  background-color: rgb(80,0,0);
}
.child {
  margin-top: 35%;
  margin-left: 30;
  margin-right: 10;
  padding-bottom: 15;
}
