.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}
.question{
  font-size: 17;
  color:black;
  horizontal-align: left;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
}
.selectedQuestion{
  font-size: 17;
  color:green;
  horizontal-align: left;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
}
.answer{
  font-size: 16;
  color:black;
  horizontal-align: left;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}
