.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}
.question{
  font-size: 18;
  color:black;
  horizontal-align: left;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.answer{
  font-size: 16;
  color:black;
  horizontal-align: left;
  font-family: "Courier New", Courier, monospace;
}
